{% extends "empleados/empleadosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="shadow p-3">
    <form >
    {%for row in empleado%}
      <div class="mb-3">
        <label class="form-label"> Informacion Empleado</label>
      </div>
      <div class="mb-3">
        <label for="EmpNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="EmpNombre" placeholder="{{row[0]}}">
        
      </div>
      <div class="mb-3">
        <label for="EmpEmail" class="form-label">Correo</label>
        <input type="email" class="form-control" id="EmpEmail" placeholder="{{row[1]}}">
      </div>
      <div class="mb-3">
        <label for="EmpPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="EmpPassword" placeholder="{{row[2]}}">
      </div>
      <div class="mb-3">
        <label for="EmpRFC" class="form-label">RFC</label>
        <input type="text" class="form-control" id="EmpRFC" placeholder="{{row[3]}}">
      </div>
      <div class="mb-3">
        <label for="EmpDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="EmpDireccion" placeholder="{{row[4]}}">
    
      </div>
      <div class="mb-3">
        <label for="EmpTelefono" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="EmpTelefono" placeholder="{{row[5]}}">
      </div>
      <div class="mb-3 ">
        <label for="lista" class="form-label">Selecciona el Puesto:</label>
        <select id="lista" name="lista" class="form-select form-select-lg ">
        <option selected value="{{row[6]}}">{{row[6]}}</option>
        <option value="">Elige una opción...</option>
        <option value="3">Administrador</option>
        <option value="2">Supervisor</option>
        <option value="1">Encargado Caja</option>
        <option value="4">Encargado Almacen</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    {% endfor%}
    </form>
</div>

{% endblock %}