{% extends "empleados/empleadosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="shadow p-3">
{%for row in empleado%}
    <form action="/administradores/GuardarEmp/{{row['Id_Empleado']}}" method="post">
    
      <div class="mb-3">
        <label class="form-label"> Informacion Empleado</label>
      </div>
      <div class="mb-3">
        <label for="EmpNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="EmpNombre" name="EmpNombre" placeholder="{{row['Nombre_Empleado']}}">
        
      </div>
      <div class="mb-3">
        <label for="EmpEmail" class="form-label">Correo</label>
        <input type="email" class="form-control" id="EmpEmail" name="EmpEmail" placeholder="{{row['Correo']}}">
      </div>
      <div class="mb-3">
        <label for="EmpPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="EmpPassword" name="EmpPassword" placeholder="{{row['Contraseña']}}">
      </div>
      <div class="mb-3">
        <label for="EmpRFC" class="form-label">RFC</label>
        <input type="text" class="form-control" id="EmpRFC" name="EmpRFC" placeholder="{{row['RFC']}}">
      </div>
      <div class="mb-3">
        <label for="EmpDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="EmpDireccion" name="EmpDireccion" placeholder="{{row['Direccion']}}">
    
      </div>
      <div class="mb-3">
        <label for="EmpTelefono" class="form-label">Telefono</label>
        <input type="tel" class="form-control" id="EmpTelefono" name="EmpTelefono" placeholder="{{row['Telefono']}}">
      </div>
      <div class="mb-3 ">
        <label for="listaTipo" class="form-label">Selecciona el Puesto:</label>
        <select id="listaTipo" name="listaTipo"  class="form-select form-select-lg ">
        <option selected value="{{row['Tipo_Empleado']}}">{{row['Tipo_Empleado']}}</option>
        <option value="">Elige una opción...</option>
        <option value="3">Administrador</option>
        <option value="2">Supervisor</option>
        <option value="1">Encargado Caja</option>
        <option value="4">Encargado Almacen</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    
    </form>
    {% endfor%}
</div>

{% endblock %}