{% extends "empleados/empleadosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="buscador">
        <div class="table_header"> 
            <tr>
            <button style="height: 30px; width:60px; font-size: 9px;">volver</button>
            <h2>Productos</h2>

            </tr>
            
        </div>
        <div >
            <input type="search" placeholder="buscar">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/rlizirgt.json"
                trigger="click"
                style="width:35px;height:35px; "
                >


                

            </lord-icon>
        </div>    
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
        </table>
        <tbody>
        {%for row in resultados%}
        <tr>
            <td>{{row["Id_Empleado"]}}</td>
            <td>{{row["Nombre_Empleado"]}}</td>
            <td>{{row["Tipo"]}}</td>
            <td>
            Editar
            {# <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/wloilxuq.json"
                            trigger="click"
                            style="width:25px;height:25px">
                       </lord-icon> #}

            </td>
            <td>
            Borrar
            {# <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/jmkrnisz.json"
                            trigger="click"
                            style="width:25px;height:25px">
                        </lord-icon> #}
                        
            </td>
        </tr>
        {% endfor%}
        </tbody>
        <div >
            <button>Añadir</button>
        </div>
    </div>
{% endblock %}