{% extends "empleados/empleadosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div >
        <div class="row align-items-start"> 
            <div class="col-2"><button >volver</button></div>
            
            <div class="col-8"><h2>Productos     </h2></div>
            <span class="col-2"> </span>
        </div>
        <div class="row align-items-center">
            <span class="col-2"></span>
            <div class="col-8 "> <input  type="search"  placeholder="buscar"></div>
            <div class="col-2 text-left" style="float: left;">
                <lord-icon
                     src="https://cdn.lordicon.com/rlizirgt.json"
                    trigger="click"
                     style="width:26px;height:26px; ">
                </lord-icon></div>
            
        </div>   
        <div class="table table-hover containerEmp ">
        <table >
            <thead style="padding: 5px;">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
        {%for row in resultados%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>
            <a href="editarEmpleados/{{row[0]}}"> 
                    <lord-icon
                        src="https://cdn.lordicon.com/wloilxuq.json"
                        trigger="click"
                        style="width:26px;height:26px">
                    </lord-icon> 
                </a>
                        

            </td>
            <td> 
            <a href="BorrarEmpleados/{{row[0]}}">
                <lord-icon
                            src="https://cdn.lordicon.com/jmkrnisz.json"
                            trigger="click"
                            style="width:26px;height:26px" onclick="">
                    </lord-icon> 
            </a>
                        
                        
            </td>
        </tr>
        {% endfor%}
        </tbody>
        </table>
        </div> 
        
        <div >
            <a href="editarEmpleados"><button >Añadir</button></a>
            
        </div>
    </div>
{% endblock %}