{% extends "empleados/empleadosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div>
            <div class="vanish1">
                <p class="text-center">BIENVENIDO</p>
                <p style="font-size: 25px; font-weight: lighter; margin-bottom: 12%;">{{ nombre|upper }}</p>
            </div>
            <div class="w-75" style="margin-bottom: 20%; display:inline-block">
                {% if tipo == 3 or tipo == 2 or tipo == 4 %}
                <a href="/administradores/inventario" class="btn btn-success mt-5 to-left position-relative">Inventario</a>
                {% endif %}
                {% if tipo == 3 or tipo == 2%}
                <a href="/administradores/EmpleadosList" class="btn btn-success mt-5 to-right position-relative">Empleados</a>
                {% endif %}
                {% if tipo == 3 or tipo == 2 or tipo == 1 %}
                <a href="/administradores/OrdenesPago"class="btn btn-success mt-5 to-left position-relative" >Ordenes de pago</a>
                {% endif %}
            </div>
            <div style="width: 80px;" class="mx-auto">
                <a href="/administradores/delete" class="btn btn-success to-left w-20 position-relative">Salir</a>
            </div>
        </div>
    </div>

    <script>
    
    </script>
{% endblock %}
