{% extends "empleados/empleadosMaster.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="p-3 py-4">
        <div class="pt-3 d-flex align-items-center justify-content-center position-relative">
            <a href="../administradores" class="position-absolute" style="top:0;left:0;" >
                <i class="text-black bi bi-arrow-left" style="font-size: 25px;"></i>
            </a>

            <h1 style="font-size: 30px;">Inventario</h1>
        </div>

        <hr class="w-100 mb-5 mt-2">

        <div class="my-4">
            <h1 style="font-size: 20px;">Generar Reporte de Escazes</h1>
        </div>
        <form action="/administradores/reportedeescazes" method="post" onsubmit="mostrarMensaje()">
            <div class="mb-3">
                <label for="reporteInput" class="form-label">Ingrese la información del reporte:</label>
                <input type="text" id="reporteInput" name="reporteInput" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="fechaInput" class="form-label">Fecha del reporte:</label>
                <input type="date" id="fechaInput" name="fechaInput" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-danger mt-4" style="font-size: 13px;">Enviar Reporte</button>
        </form>
        <div>
            <a href="/administradores/inventario/Agregar"><button class="btn btn-danger mt-5" style="font-size: 13px;">Añadir producto</button></a>
        </div>

        <hr class="w-100 my-5">

        <div class="input-group justify-content-center">
            <div class="form-outline">
                <input type="search" id="search" class="form-control" placeholder="search"/>
            </div>
            <button type="button" class="btn" style="background-color: transparent; box-shadow:none">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <div class="table table-hover containerEmp ">
            <table>
                <thead style="padding: 5px;">
                    <tr>
                        <th>Id Producto</th>
                        <th>Nombre Prodcuto</th>
                        <th>Cantidad</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in resultados %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td style="width: 50px;">
                            <div class="form-group">
                                <form method="post" action="/administradores/inventario/{{ row[0] }}" class="UpCant" onsubmit="return confirm('¿Desea actualizar la cantidad del producto {{ row[0] }} de {{ row[2] }} a ' + document.getElementsByName('cantidad')[{{ loop.index0 }}].value + '?')">
                                    <input type="number" class="form-control" name="cantidad" value="{{ row[2] }}" style="font-size: 15px; height:40%" inputmode="numeric">
                                    <button type="submit" class="btn btn-outline-danger mt-3" style="font-size: 12px; height:10%">Guardar</button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <a href="/administradores/editarProducto/{{row[0]}}"> 
                                <lord-icon
                                    src="https://cdn.lordicon.com/wloilxuq.json"
                                    trigger="click"
                                    style="width:26px;height:26px">
                                </lord-icon> 
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
    function mostrarMensaje() {
        alert('Reporte enviado');
    }
    </script>
{% endblock %}