{% extends "empleados/empleadosMaster.jinja" %}

{% block head %}
    {{ super() }}
   
{% endblock %}

{% block content %}
    <div class="p-5">
        <div class="pt-3 d-flex align-items-center justify-content-center position-relative">
            <a href="../../administradores" class="position-absolute" style="top:0;left:0;" >
                <i class="text-black bi bi-arrow-left" style="font-size: 25px;"></i>
            </a>

          
        </div>
        <h1>#{{orden[0]}} - <span id="current_date"> {{orden[1]}}</span></h1>
        {#jalar los id de los productos dentro de la orden#}
       
        <p>Productos:{{numero}}</p>
        <p>{{nombre}}</p>
       
   

        {% for producto in productos %}
            {% set index = loop.index %}
            {% set id_producto = producto[0] %}
            {% set cantidad = producto[1]|string|replace(",", "")|int %}
            {% set color = producto[3] %}
            <!-- Realizar el cálculo del subtotal y la suma total -->
            {% set subtotal = cantidad * producto[5] %}

            <!-- Incluir el template para mostrar los detalles del producto -->
            {% include "empleados/ordenProducto.jinja" %}
            
        {% endfor %}

        <h1 >Total: <span id="resultado"></span></h1>
        <div class="to-left position-absolute p-5 d-flex flex-column justify-content-center align-items-center "style="position: relative; display: inline-block;">
            {% if status != "Entregado" %}
                <a href="/administradores/OrdenEspecifica/statusEntregado/{{ orden[0] }}">
                    <button class="btn btn-outline-danger" style="font-size: 12px;">Entregar</button>
                </a>
            {% endif %}

            <a href="../BorrarOrden/{{orden[0]}}" onclick="return confirm('¿Estás seguro de que deseas borrar la orden de pago: {{orden[0]}} ?');">
                <lord-icon
                    src="https://cdn.lordicon.com/jmkrnisz.json"
                    trigger="click"
                    style="width:35px;height:35px; top:10px" onclick="">
                </lord-icon> 
            </a>
        </div>

<script>

        var suma = 0
        const subtotales = document.querySelectorAll('.subtotal');
        subtotales.forEach((subtotal) => {
            var sub = subtotal.textContent.replace("$","");
            suma += parseFloat(sub)
        });

        
        let resultado = document.getElementById('resultado');
        total = suma.toFixed(2)
        resultado.innerHTML = total
</script>
{% endblock content %}
