{% extends "empleados/empleadosMaster.jinja" %}

{% block head %}
    {{ super() }}
   
{% endblock %}

{% block content %}
    <div class="p-5">
        <h1>#{{orden[0]}} - <span id="current_date"> {{orden[1]}}</span></h1>
        {#jalar los id de los productos dentro de la orden#}
       
        <p>Productos:{{numero}}</p>
        <p>{{nombre}}</p>
       
   

        {% for producto in productos %}
            {% set index = loop.index %}
            {% set id_producto = producto[0] %}
            {% set cantidad = producto[1]|string|replace(",", "")|int %}
            {% set color = producto[3] %}
            <!-- Realizar el cálculo del subtotal y la suma total -->
            {% set subtotal = cantidad * producto[5] %}

            <!-- Incluir el template para mostrar los detalles del producto -->
            {% include "empleados/ordenProducto.jinja" %}
            
        {% endfor %}

        <a href="/administradores/OrdenEspecifica/statusEntregado/{{orden[0]}}"> <button class="btn btn-outline-danger" style="font-size: 12px;">Entregar</button></a>
    


{% endblock content %}