<div class="row p-5">
    <div class="col">
        {% include "usuarios/productosCard.jinja" %}
    </div>

    <div class="position-relative col">
        {% set cantidad = 3 %}
        {% set precio_unitario = 39.99 %}
        {% set precio_total = cantidad * precio_unitario %}
        <div class="position-absolute text-start" style="bottom: 5px;">

            <p class="px-5" style="font-size: 14px; display:contents">{{row[9]}}: 
                <span style="font-weight:bold;font-size:13px">${{ precio_total }}</span>
            </p>
            <span class="btn btn-danger px-5" style="font-size: 14px; height: 25px; border-radius: 0px;">Cantidad: {{ cantidad }}</span>
            <button class="btn btn-warning px-5" style="font-size: 14px; height: 25px; border-radius: 0px;">Eliminar</button>
        </div>
    </div>
</div>