<div class="border border-1 box-shadow1 position-relative" style="width:7.5em; height:7.5em;">
    <img src="{{ url_for('static', filename= 'src/img1_1.jpg') }}" style="width:7em; height:7em;">
    <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
        <p class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;">Pestaña 3d</p>
        <p class="mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$39.00</p>
    </div>
</div>