{% extends "usuarios/usuariosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/opencv.min.js') }}"></script>
<div style="height: 100%;" class="h-100 d-flex align-items-center justify-content-center">
    <video id="videoInput" height="100%"></video>
    <canvas id="canvas-output" height="100%" style="z-index:3"></canvas>
    <button class="position-absolute w-50" style="bottom: 20%;" >Capturar</button>
</div>

<script>
const video = document.getElementById("videoInput");
const canvas = document.getElementById("canvas-output");

(async () => {
  const stream = await navigator.mediaDevices.getUserMedia({
    video: true,
    audio: false,
  });


})();
</script>

{% endblock %}