{% extends "usuarios/usuariosMaster.jinja" %}

{% block content %}

    <a class="position-absolute text-dark" style="top: 3%; left: 5%" href="/usuarios">
        <i class="bi bi-arrow-left" style="font-size: 25px;"></i>
    </a>

    <div class="p-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}

                
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> {% if message != "No hay suficiente cantidad del producto solicitado"%}Estimado/a cliente, le recordamos que actualmente cuenta con un pedido pendiente. Para poder realizar uno nuevo, le agradeceríamos que antes proceda con el pago correspondiente o la recolección del pedido activo. ¡Muchas gracias por su comprensión y preferencia!{% endif %}
                
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <p>{{nombre}}</p>
        {% if numero != 0%}
        <h1>#{{id}} - <span id="current_date"></span></h1>
        {#jalar los id de los productos dentro de la orden#}
       
        <p>Productos:{{numero}}</p>
        
        
        {% set total = 0 %}

        {% for producto in productos %}
            {% set index = loop.index %}
            {% set id_producto = producto[0] %}
            {% set cantidad = producto[1]|string|replace(",", "")|int %}
            {% set color = producto[3] %}
            <!-- Realizar el cálculo del subtotal y la suma total -->
            {% set subtotal = cantidad * producto[5] %}

            {% set total = total + subtotal %}

            <!-- Incluir el template para mostrar los detalles del producto -->
            {% include "usuarios/ordenCarrito.jinja" %}
            
        {% endfor %}

        <h1 >Total: <span id="resultado"></span></h1>


        <div id="paypal-button-container"></div>
        <script src="https://www.paypal.com/sdk/js?client-id=Ac_6kX_qOrk9brT964ANt-BcLIOUlkOIxODPBRiDX7i_yghM52dEn0NGNF_nTi5OBlJy4FtxscvgOmxi&currency=MXN"></script>    </div>
        <div>
            <a href="/usuarios/OrdenEspecifica/RecogerCaja/{{id}}">
                <button class="btn btn-outline-warning" style="font-size: 24px; padding: 1em; display:inline-flex; justify-content: center; align-items: center;">
                    Pagar en caja
                </button>
            </a>
        </div>

        {% else %}
                
            <lord-icon
                src="https://cdn.lordicon.com/rmzhcgbh.json"
                trigger="loop"
                delay="2000"
                colors="primary:#a866ee,secondary:#ebe6ef,tertiary:#f49cc8"
                style="width:250px;height:250px">
            </lord-icon>
            
            <div class="mt-5">
                <h1 class="fw-bold display-3">Agrega artículos para comenzar a llenar tu carrito</h1>
                <h4 class="mt-4" style="font-size: 2rem; color: rgb(146, 43, 146);">Cuando agregues un artículo aparecerá aquí.</h4>
            </div>

            <a href="/usuarios" class="btn btn-primary mt-5" style="background-color: black; color:white">Comprar ahora</a>
            
        {% endif %}
        
    <script>

        const botonesEliminar = document.querySelectorAll('.eliminar-producto');
        botonesEliminar.forEach(boton => {
            boton.addEventListener('click', () => {
            const index = boton.id;
            console.log(index)
            fetch(`/usuarios/eliminar_producto/${index}`, {
                method: 'POST'
            }).then(() => {
               location.reload(); // Actualizar la página 
            });
            });
        });

        var suma = 0
        const subtotales = document.querySelectorAll('.subtotal');
        subtotales.forEach((subtotal) => {
            var sub = subtotal.textContent.replace("$","");
            suma += parseFloat(sub)
        });

        
        let resultado = document.getElementById('resultado');
        total = suma.toFixed(2)
        resultado.innerHTML = total
    

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style:{
                color: 'silver',
                shape: 'pill',
                label: 'pay'
            },
            createOrder: function(data, actions){
                return actions.order.create({
                    purchase_units: [{
                        amount:{
                            //aqui en value tenemos que poner lo que tiene que pagar el usuario
                            value: total
                        }
                    }]
                });
            },
            onApprove: function(data, actions){
                //en detalles se va a guardar todo lo que pase en nuestro pago
                actions.order.capture().then(function (detalles){
                   
                    window.location.href="/administradores/OrdenEspecifica/crearorden/{{id}}"
                });
            },
            onCancel: function(data){
                alert("Pago cancelado")
                console.log(data);
            },
            onError: function(error) {
            alert("Error al procesar el pago: " + error.message);
            }
        }).render('#paypal-button-container');

        var d = new Date();
        var hours = d.getHours();
        var minutes = d.getMinutes();
        var day = d.getDate();
        var month = d.getMonth() + 1;  // Agregar 1 ya que el mes se cuenta desde 0
        var year = d.getFullYear();
        var formattedDateTime = hours + ':' + minutes + ' ' + day + '/' + month + '/' + year;
        document.getElementById("current_date").innerHTML = formattedDateTime;    
    </script>
{% endblock %}