{% extends "usuarios/usuariosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if profileInfo is defined %}
    <form action="/usuarios/updateDatosUsuario" class="w-100" method="post">
    {% else %}
    <form action="/guardarDatosUsuario" class="w-100" method="post">
    {% endif %}
    <div class="position-absolute w-100 h-100" id="alertaOjos" style="z-index: 2; display: none; background-color: rgba(0, 0, 0, 0.152); top: 0;">
        <div class="to-left position-relative justify-content-center align-items-center d-flex" style="top: 30%; animation-duration: 0.7s;">
            <div>
                <svg class="position-absolute" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" style="top: 10; right: 12%;" onclick="document.getElementById('alertaOjos').style.display = 'none'">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
            <div class="text-center p-4" style="width: 80%; height: fit-content; background-color: white; border-radius: 10px;">
                <p class="display-4">Color de ojos</p>
                <div class="h-50" style="display: grid; grid-template-columns: repeat(3, 1fr);">
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #202020;" onclick="colorOjos(1)"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #563330;" onclick="colorOjos(2)"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #aaa24e;" onclick="colorOjos(3)"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #9ca194;" onclick="colorOjos(4)"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #abc6d0;" onclick="colorOjos(5)"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-ojos" style="background-color: #31684c;" onclick="colorOjos(6)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute w-100 h-100" id="alertaAlergias" style="z-index: 2; display: none; background-color: rgba(0, 0, 0, 0.152); top: 0;">
        <div class="to-left position-relative justify-content-center align-items-center d-flex" style="top: 30%; animation-duration: 0.7s;">
            <div>
                <svg class="position-absolute" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" style="top: 10; right: 12%;" onclick="document.getElementById('alertaOjos').style.display = 'none'">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
            <div class="text-center p-4" style="width: 80%; height: fit-content; background-color: white; border-radius: 10px;">
                <p class="display-4">Alergias</p>
                
            <div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="propilparabeno" name="alergias" value="propilparabeno">
                        <label class="form-check-label" for="propilparabeno">Propilparabeno</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dioxido-titanio" name="alergias" value="dióxido de titanio">
                        <label class="form-check-label" for="dioxido-titanio">Dióxido de Titanio</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="oxido-hierro" name="alergias" value="óxido de hierro">
                        <label class="form-check-label" for="oxido-hierro">Óxido de Hierro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="glicerina" name="alergias" value="glicerina">
                        <label class="form-check-label" for="glicerina">Glicerina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="dimeticona" name="alergias" value="dimeticona">
                        <label class="form-check-label" for="dimeticona">Dimeticona</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pentylene-glycol" name="alergias" value="pentylene glycol">
                        <label class="form-check-label" for="pentylene-glycol">Pentylene Glycol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ethylhexylglycerin" name="alergias" value="ethylhexylglycerin">
                        <label class="form-check-label" for="ethylhexylglycerin">Ethylhexylglycerin</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ricinus-communis" name="alergias" value="ricino">
                        <label class="form-check-label" for="ricino">Ricino</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="tocopherol" name="alergias" value="tocopherol">
                        <label class="form-check-label" for="tocopherol">Tocopherol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="bismuth-oxychloride" name="alergias" value="bismuth oxychloride">
                        <label class="form-check-label" for="bismuth-oxychloride">Bismuth Oxychloride</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="carmine" name="alergias" value="carmine">
                        <label class="form-check-label" for="carmine">Carmine</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="silice" name="alergias" value="sílice">
                        <label class="form-check-label" for="silice">Sílice</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="mica" name="alergias" value="mica">
                        <label class="form-check-label" for="mica">Mica</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="tocoferol" name="alergias" value="tocoferol">
                        <label class="form-check-label" for="tocoferol">Tocoferol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="oxidos-hierro" name="alergias" value="óxidos de hierro">
                        <label class="form-check-label" for="oxidos-hierro">Óxidos de Hierro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="acido-dehydroacetico" name="alergias" value="ácido dehydroacético">
                        <label class="form-check-label" for="acido-dehydroacetico">Ácido Dehydroacético</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="acido-isostearico" name="alergias" value="ácido isostearico">
                        <label class="form-check-label" for="acido-isostearico">Ácido Isostearico</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="aceite-mineral" name="alergias" value="aceite mineral">
                        <label class="form-check-label" for="aceite-mineral">Aceite Mineral</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="palmitato-etilhexilo" name="alergias" value="palmitato de etilhexilo">
                        <label class="form-check-label" for="palmitato-etilhexilo">Palmitato de Etilhexilo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="parafina" name="alergias" value="parafina">
                        <label class="form-check-label" for="parafina">Parafina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ceresina" name="alergias" value="ceresina">
                        <label class="form-check-label" for="ceresina">Ceresina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="alcohol-denat" name="alergias" value="alcohol denat">
                        <label class="form-check-label" for="alcohol-denat">Alcohol Denat</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="bht" name="alergias" value="BHT">
                        <label class="form-check-label" for="bht">BHT</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="metilparabeno" name="alergias" value="metilparabeno">
                        <label class="form-check-label" for="metilparabeno">Metilparabeno</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="goma-xantana" name="alergias" value="goma xantana">
                        <label class="form-check-label" for="goma-xantana">Goma Xantana</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ciclometicona" name="alergias" value="ciclometicona">
                        <label class="form-check-label" for="ciclometicona">Ciclometicona</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isododecano" name="alergias" value="isododecano">
                        <label class="form-check-label" for="isododecano">Isododecano</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="glicol-propileno" name="alergias" value="glicol propileno">
                        <label class="form-check-label" for="glicol-propileno">Glicol Propileno</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ciclopentasiloxano" name="alergias" value="ciclopentasiloxano">
                        <label class="form-check-label" for="ciclopentasiloxano">Ciclopentasiloxano</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="fenoxietanol" name="alergias" value="fenoxietanol">
                        <label class="form-check-label" for="fenoxietanol">Fenoxietanol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="ethylhexyl-palmitate" name="alergias" value="ethylhexyl palmitate">
                        <label class="form-check-label" for="ethylhexyl-palmitate">Ethylhexyl Palmitate</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="verbena" name="alergias" value="verbena">
                        <label class="form-check-label" for="verbena">Verbena</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="polietileno-tereftalato" name="alergias" value="polietileno tereftalato">
                        <label class="form-check-label" for="polietileno-tereftalato">Polietileno Tereftalato</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="copolimero-acrilatos" name="alergias" value="copolímero de acrilatos">
                        <label class="form-check-label" for="copolimero-acrilatos">Copolímero de Acrilatos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="fluorflogopita-sintetica" name="alergias" value="fluorflogopita sintética">
                        <label class="form-check-label" for="fluorflogopita-sintetica">Fluorflogopita Sintética</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="poliuretano" name="alergias" value="poliuretano">
                        <label class="form-check-label" for="poliuretano">Poliuretano</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="alcohol-polivinilico" name="alergias" value="alcohol polivinílico">
                        <label class="form-check-label" for="alcohol-polivinilico">Alcohol Polivinílico</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="trimetilsiloxisilicato" name="alergias" value="trimetilsiloxisilicato" >
                        <label class="form-check-label" for="trimetilsiloxisilicato">Trimetilsiloxisilicato</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pantenol" name="alergias" value="pantenol">
                        <label class="form-check-label" for="pantenol">Pantenol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="biotina" name="alergias" value="biotina">
                        <label class="form-check-label" for="biotina">Biotina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="etilhexilglicerina" name="alergias" value="etilhexilglicerina">
                        <label class="form-check-label" for="etilhexilglicerina">Etilhexilglicerina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="butilenglicol" name="alergias" value="butilenglicol">
                        <label class="form-check-label" for="butilenglicol">Butilenglicol</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="clorfenesina" name="alergias" value="clorfenesina">
                        <label class="form-check-label" for="clorfenesina">Clorfenesina</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="acido-glicolico" name="alergias" value="ácido glicólico">
                        <label class="form-check-label" for="acido-glicolico">Ácido Glicólico</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cactus-marruecos" name="alergias" value="cactus de Marruecos">
                        <label class="form-check-label" for="cactus-marruecos">Cactus de Marruecos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="manzanilla" name="alergias" value="manzanilla">
                        <label class="form-check-label" for="manzanilla">Manzanilla</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pepino" name="alergias" value="pepino">
                        <label class="form-check-label" for="pepino">Pepino</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="acido-hialuronico" name="alergias" value="ácido hialurónico">
                        <label class="form-check-label" for="acido-hialuronico">Ácido Hialurónico</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="iris" name="alergias" value="iris">
                        <label class="form-check-label" for="iris">Iris</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="position-absolute w-100 h-100" id="alertaPiel" style="z-index: 2; display: none; background-color: rgba(0, 0, 0, 0.152); top: 0; bottom: 0; left: 0; right: 0;">
        <div class="to-left position-relative justify-content-center align-items-center d-flex" style="top: 30%; animation-duration: 0.7s;">
            <div>
                <svg width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" class="position-absolute" style="right: 22%; top: 10;" onclick="document.getElementById('alertaPiel').style.display = 'none'">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
            <div class="text-center p-4" style="width: 60%; height: fit-content; background-color: white; border-radius: 10px;">
                <p class="display-4">Tipo de piel</p>
                <div class="w-50 d-inline-block" style="font-size: larger;">
                    <div class="form-check" onclick="textoPiel('Normal')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="normal" value="1">
                        <label class="form-check-label" for="normal">Normal</label>
                    </div>
                    <div class="form-check" onclick="textoPiel('Seca')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="seca" value="2">
                        <label class="form-check-label" for="seca">Seca</label>
                    </div>
                    <div class="form-check" onclick="textoPiel('Grasa')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="grasa" value="3">
                        <label class="form-check-label" for="grasa">Grasa</label>
                    </div>
                    <div class="form-check" onclick="textoPiel('Mixta')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="mixta" value="4">
                        <label class="form-check-label" for="mixta">Mixta</label>
                    </div>
                    <div class="form-check" onclick="textoPiel('Acné')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="acne" value="5">
                        <label class="form-check-label" for="acne">Acné</label>
                    </div>
                    <div class="form-check" onclick="textoPiel('Sensible')">
                        <input class="form-check-input"  type="radio" name="tipoPiel" id="sensible" value="6">
                        <label class="form-check-label" for="sensible">Sensible</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-absolute w-100 h-100" id="alertaColorPiel" style="z-index: 2; display: none; background-color: rgba(0, 0, 0, 0.152); top: 0; bottom: 0; left: 0; right: 0;">
        <div class="to-left position-relative justify-content-center align-items-center d-flex" style="top: 30%; animation-duration: 0.7s;">
            <div>
                <svg width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" class="position-absolute" style="right: 8%; top: 10;" onclick="document.getElementById('alertaColorPiel').style.display = 'none'">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
            <div class="text-center p-4" style="width: 90%; height: fit-content; background-color: white; border-radius: 10px;">
                <p class="display-4">Tono de piel</p>
                <div class="h-50" style="display: grid; grid-template-columns: repeat(6, 1fr);">
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #ead8c4;" onclick="colorPiel('#ead8c4', '#ead8c4')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #edd8c5;" onclick="colorPiel('#ead8c4', '#edd8c5')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #eed7c7;" onclick="colorPiel('#ead8c4', '#eed7c7')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f0d6c9;" onclick="colorPiel('#ead8c4', '#f0d6c9')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f2d6cb;" onclick="colorPiel('#ead8c4', '#f2d6cb')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f5d4cd;" onclick="colorPiel('#ead8c4', '#f5d4cd')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #d2b897;" onclick="colorPiel('#ead8c4', '#d2b897')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #d5b699;" onclick="colorPiel('#ead8c4', '#d5b699')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #d9b59b;" onclick="colorPiel('#ead8c4', '#d9b59b')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #dcb39f;" onclick="colorPiel('#ead8c4', '#dcb39f')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #e9c3b6;" onclick="colorPiel('#ead8c4', '#e9c3b6')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #eac2ba;" onclick="colorPiel('#ead8c4', '#eac2ba')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #b4976f;" onclick="colorPiel('#b89470', '#b4976f')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #b89470;" onclick="colorPiel('#b89470', '#b89470')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #bd9174;" onclick="colorPiel('#b89470', '#bd9174')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #ac8063;" onclick="colorPiel('#b89470', '#ac8063')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2"> 
                        <div class="colores-piel" style="background-color: #9a7153;" onclick="colorPiel('#b89470', '#9a7153')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #9d6f55;" onclick="colorPiel('#b89470', '#9d6f55')"></div>
                    </div>
                    
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #80643d;" onclick="colorPiel('#836241', '#80643d')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #836241;" onclick="colorPiel('#836241', '#836241')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #876043;" onclick="colorPiel('#836241', '#876043')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #8b5f46;" onclick="colorPiel('#836241', '#8b5f46')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #8d5c4b;" onclick="colorPiel('#836241', '#8d5c4b')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #905c4f;" onclick="colorPiel('#836241', '#905c4f')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #6d5533;" onclick="colorPiel('#7b4b41', '#6d5533')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #715235;" onclick="colorPiel('#7b4b41', '#715235')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #745036;" onclick="colorPiel('#7b4b41', '#745036')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #754f38;" onclick="colorPiel('#7b4b41', '#754f38')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #784d3d;" onclick="colorPiel('#7b4b41', '#784d3d')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #7b4b41;" onclick="colorPiel('#7b4b41', '#7b4b41')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="position-absolute w-100 h-100" id="alertaColorPelo" style="z-index: 2; display: none; background-color: rgba(0, 0, 0, 0.152); top: 0; bottom: 0; left: 0; right: 0;">
        <div class="to-left position-relative justify-content-center align-items-center d-flex" style="top: 30%; animation-duration: 0.7s;">
            <div>
                <svg width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" class="position-absolute" style="right: 8%; top: 10;" onclick="document.getElementById('alertaColorPelo').style.display = 'none'">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
            <div class="text-center p-4" style="width: 90%; height: fit-content; background-color: white; border-radius: 10px;">
                <p class="display-4">Tono de cabello</p>
                <div class="h-50" style="display: grid; grid-template-columns: repeat(6, 1fr);">
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #9b9b9b;" onclick="colorPelo('#9b9b9b', '#9b9b9b')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #797979;" onclick="colorPelo('#9b9b9b', '#797979')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #5c5c5c;" onclick="colorPelo('#9b9b9b', '#5c5c5c')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #404040;" onclick="colorPelo('#0a0806', '#404040')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #232323;" onclick="colorPelo('#0a0806', '#232323')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #0c0c0c;" onclick="colorPelo('#0a0806', '#0c0c0c')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #faf0be;" onclick="colorPelo('#faf0be', '#faf0be')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f9e7a3;" onclick="colorPelo('#faf0be', '#f9e7a3')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f7d48d;" onclick="colorPelo('#faf0be', '#f7d48d')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f5c177;" onclick="colorPelo('#faf0be', '#f5c177')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f3ad62;" onclick="colorPelo('#faf0be', '#f3ad62')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #f1984c;" onclick="colorPelo('#faf0be', '#f1984c')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #b55339;" onclick="colorPelo('#b55339', '#b55339')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #a8442f;" onclick="colorPelo('#b55339', '#a8442f')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #973625;" onclick="colorPelo('#b55339', '#973625')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #872b1c;" onclick="colorPelo('#b55339', '#872b1c')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #762f12;" onclick="colorPelo('#b55339', '#762f12')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #652208;" onclick="colorPelo('#b55339', '#652208')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #1b1cc6;" onclick="colorPelo('#1b1cc6', '#1b1cc6')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #2323cc;" onclick="colorPelo('#1b1cc6', '#2323cc')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #2c2cb3;" onclick="colorPelo('#1b1cc6', '#2c2cb3')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #353599;" onclick="colorPelo('#1b1cc6', '#353599')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #3e3e80;" onclick="colorPelo('#1b1cc6', '#3e3e80')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #474766;" onclick="colorPelo('#1b1cc6', '#474766')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #008000;" onclick="colorPelo('#008000', '#008000')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #007500;" onclick="colorPelo('#008000', '#007500')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #006a00;" onclick="colorPelo('#008000', '#006a00')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #006000;" onclick="colorPelo('#008000', '#006000')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #005500;" onclick="colorPelo('#008000', '#005500')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #004a00;" onclick="colorPelo('#008000', '#004a00')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #572364;" onclick="colorPelo('#572364', '#572364')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #4f1f5c;" onclick="colorPelo('#572364', '#4f1f5c')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #471c53;" onclick="colorPelo('#572364', '#471c53')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #3f194b;" onclick="colorPelo('#572364', '#3f194b')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #371642;" onclick="colorPelo('#572364', '#371642')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #2f123a;" onclick="colorPelo('#572364', '#2f123a')"></div>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #a18262;" onclick="colorPelo('#a18262', '#a18262')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #a9845e;" onclick="colorPelo('#a18262', '#a9845e')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #8c6945;" onclick="colorPelo('#a18262', '#8c6945')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #745331;" onclick="colorPelo('#a18262', '#745331')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #5c4021;" onclick="colorPelo('#a18262', '#5c4021')"></div>
                    </div>
                    <div class="d-flex justify-content-center mb-4 mt-2">
                        <div class="colores-piel" style="background-color: #44310e;" onclick="colorPelo('#a18262', '#44310e')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if profileInfo is defined %}
    <a class="position-absolute text-dark" style="top: 3%; left: 5%; z-index: 3" href="/usuarios/perfil">
        <i class="bi bi-arrow-left" style="font-size: 25px;"></i>
    </a>
    {% endif %}
    <div class="container-forms position-absolute align-items-center" style="top: 0; bottom: 0; left: 0; right: 0;">
        <p class="to-left">FORMULARIO</p>


        <div class="d-flex flex-column justify-content-between" style="font-size: 18px; height: 85%;">
            <div>
                <div class="form-group d-flex flex-row mb-3 align-items-center to-left" style="animation-delay: 0.4s;">
                    <div style="flex: auto;">
                    <input type="text" class="form-control" placeholder="Inserte su nombre completo..." name="nombre" id="nombre" {% if profileInfo is defined %}value="{{ profileInfo[1] }}"{% endif %} required pattern="^[A-Za-z\s]{3,}$" title="El nombre debe contener al menos 3 caracteres y no debe incluir números.">
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group d-flex flex-row mb-5 align-items-center to-left" style="animation-delay: 0.6s;">
                    <label for="nombre" class="col-form-label w-25" style="margin-right: 5%; padding-top: 2.5em;">Edad:</label>
                    <div class="range-slider" style="flex: auto;">
                        <span class="rs-mark" id="rs-mark"></span>
                        <input type="range" class="rs-line" min="18" max="99" name="edad" id="edad" {% if profileInfo is defined %}value="{{ profileInfo[2] }}"{% else %}value="18"{% endif %}>
                    </div>
                </div>
            </div>

            <div>
                <div class="to-left mb-5" style="animation-delay: 0.8s;">
                    <button class="btn btn-outline-danger w-75" id="btnColorOjos" onclick="selectEyes()" type="button" style="transition: ease all 1s;">Color de ojos
                        {% if profileInfo is defined %}
                            : {{ coloresOjos[0] }}
                        {% endif %}
                    </button>
                    {% if profileInfo is defined %}
                        <input type="text" id="colorOjos" value="{{ profileInfo[3] }}" name="colorOjos" style="display: none;">
                        <script>
                        $('#btnColorOjos').css('background-color', '#{{ coloresOjos[1] }}'); 
                        if($('#colorOjos').val() < 6 && $('#colorOjos').val() > 2){
                            $('#btnColorOjos').css('color', '#000'); 
                        }else{
                            $('#btnColorOjos').css('color', '#fff'); 
                        }
                        </script>
                    {% else %}
                        <input type="text" id="colorOjos" name="colorOjos" style="display: none;">
                    {% endif %}
                </div>
            </div>

            <div>
                <div class="to-left mb-5" style="animation-delay: 1s;">
                    {% if profileInfo is defined %}
                    <button class="btn btn-outline-danger w-75" onclick="selectSkin()" id="btnTipoPiel" type="button">Tipo de piel: {{ tiposPiel[0] }}</button>
                    <script>
                        $('#{{ tiposPiel[0]|lower }}').attr('checked', true);
                    </script>
                    {% else %}
                    <button class="btn btn-outline-danger w-75" onclick="selectSkin()" id="btnTipoPiel" type="button">Tipo de piel</button>
                    {% endif %}
                </div>
            </div>
            
            <div>
                <div class="form-group d-flex flex-row mb-5 align-items-center to-left" style="animation-delay: 1.2s;">
                    <label for="colorPiel" class="col-form-label w-50" style="margin-right: 5%;">Tono de piel:</label>
                    <div style="flex: auto; margin-left: 10px;" onclick="document.getElementById('alertaColorPiel').style.display = 'block'">
                        {% if profileInfo is defined %}
                        <div id="divColorPiel" class="input-color" style="background-color: #{{profileInfo[9]}};"></div>
                        <input type="text" name="colorPiel" id="inputColorPiel" value="{{profileInfo[5]}}" style="display: none;">
                        <input type="text" name="colorPielForm" id="inputColorPielForm" value="{{profileInfo[9]}}" style="display: none;">
                        {% else %}
                        <div id="divColorPiel" class="input-color" style="background-color: #fdddca;"></div>
                        <input type="text" name="colorPiel" id="inputColorPiel" value="fdddca" style="display: none;">
                        <input type="text" name="colorPielForm" id="inputColorPielForm" value="fdddca" style="display: none;">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div>
                <div class="form-group d-flex flex-row mb-5 align-items-center to-left" style="animation-delay: 1.4s;">
                    <label for="colorPiel" class="col-form-label w-50" style="margin-right: 5%;">Color de cabello:</label>
                    <div style="flex: auto; margin-left: 10px;" onclick="document.getElementById('alertaColorPelo').style.display = 'block'">
                        {% if profileInfo is defined %}
                        <div id="divColorCabello" class="input-color" style="background-color: #{{profileInfo[6]}};"></div>
                        <input type="text" name="colorCabello" id="inputColorCabello" value="{{profileInfo[6]}}" style="display: none;">
                        {% else %}
                        <div id="divColorCabello" class="input-color" style="background-color: #8d5535;"></div>
                        <input type="text" name="colorCabello" id="inputColorCabello" style="display: none;">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div>
                <div class="to-left mb-5" style="animation-delay: 1.6s;">
                    <button class="btn btn-outline-danger w-75" onclick="selectAlergia()" id="btnTipoPiel" type="button">Alergias</button>
                </div>
            </div>

            <div class="to-left" style="animation-delay: 1.6s;">
                <button type="submit" class="btn btn-success w-75">Guardar</button>
            </div>
            </div>
        </div>
    </div>
    </form>

    <script
    
    src="{{ url_for('static', filename='js/formulario.js') }}">
    
    var botonAlergias = document.getElementById("mostrar-alergias");
    var checkboxesAlergias = document.getElementById("alergias-checkboxes");

    botonAlergias.addEventListener("click", function() {
        console.log("si entra we")
        checkboxesAlergias.style.display = "block";
    });
    </script>
{% endblock %}