

<div class="modal fade" tabindex="-1" role="dialog" id="infokit">
    <div class="modal-dialog mx-5" style="margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="bg-white p-3 border-bottom border-dark position-relative" style="border-radius: 5px;">
                
                <h1>Ojos </h1>
                <div class="row p-5">
                    <div class="col">
                                <div class="border border-1 box-shadow1 position-relative" style="width:9em; height:9em;">
                                {% set imgModal = 'src/img' + '1' + '_' + '1' + '.jpg' %}
                                <img id="imagenojos" src="{{ url_for('static', filename= imgModal) }}" style="width:7em; height:7em;">
                                <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
                                    <p id="nombreprodojos" class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;"></p>
                                    <p id="precioprodojos" class="normal-text mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$</p>
                                </div>
                                <div id="colorhexojos" class="position-absolute colores-info col-3 m-2"  style="top: 5%; left: 5% ; background-color: #;"></div>
                                </div>

                    </div>
                    <div class="position-relative col">
                    
                        <div class="position-relative text-start" style="bottom: 5px;">
                            
                            <p class="px-5" style="font-size: 14px; display:contents"> 
                                <span id="stockojos"class="subtotal" style="font-weight:bold;font-size:13px">Algo</span>
                            </p>
                            <button data-bs-toggle="dropdown" id="dropdownSearchOjos" trigger="click" class="btn btn-warning px-5 eliminar-producto" style="font-size: 14px; height: 25px; border-radius: 0px;">Cambiar</button>
                            
                            <div class="dropdown-menu position-absolute px-5 mt-menu animate__animated animate__fadeInDown" aria-labelledby="dropdownSearchOjos" style="max-height:1000%;font-size: 16px; top: 100%;overflow-y:scroll;">
                                <div class="input-group mb-3" style="font-size: 15px;">
                                    <input type="text" class="form-control border border-2" placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon2" id="searchMenuOjos">
                                </div>
                                <div class="h-100" style="overflow-y: scroll;" id="dropdownSearchOjosList">
                                {% for producto in productosOjos %}
                                    {% set img = 'src/img' + producto['Id']|string + '_1.jpg' %}
                                    <div id="itemOjos" class="dropdown-item" >
                                        <div class="d-flex">
                                            <img style="width: 20%; height:20%" src="{{ url_for('static', filename = img) }}">
                                            <a style="white-space:break-spaces;display:flex;align-items:center"><span>{{ producto['Nombre'] }} <span style="color:#808080ab">#{{ producto['Id'] }}</span></span></a>
                                        
                                        </div>
                                        <hr>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1>Piel</h1>
                <div class="row p-5">
                    <div class="col">
                                <div class="border border-1 box-shadow1 position-relative" style="width:9em; height:9em;">
                                {% set imgModal = 'src/img' + '1' + '_' + '1' + '.jpg' %}
                                <img id="imagenpiel" src="{{ url_for('static', filename= imgModal) }}" style="width:7em; height:7em;">
                                <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
                                    <p id="nombreprodpiel" class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;"></p>
                                    <p id="precioprodpiel" class="normal-text mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$</p>
                                </div>
                                <div id="colorhexpiel" class="position-absolute colores-info col-3 m-2"  style="top: 5%; left: 5% ; background-color: #;"></div>
                                </div>

                    </div>
                    <div class="position-relative col">
                    
                        <div class="position-absolute text-start" style="bottom: 5px;">
                            
                            <p class="px-5" style="font-size: 14px; display:contents"> 
                                <span id="stockpiel"class="subtotal" style="font-weight:bold;font-size:13px">Algo</span>
                            </p>
                            <button id="cambiarojos" class="btn btn-warning px-5 eliminar-producto" style="font-size: 14px; height: 25px; border-radius: 0px;">Cambiar</button>
                        </div>
                    </div>
                </div>

                <h1>Labios</h1>
                                <div class="row p-5">
                    <div class="col">
                                <div class="border border-1 box-shadow1 position-relative" style="width:9em; height:9em;">
                                {% set imgModal = 'src/img' + '1' + '_' + '1' + '.jpg' %}
                                <img id="imagenlabios" src="{{ url_for('static', filename= imgModal) }}" style="width:7em; height:7em;">
                                <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
                                    <p id="nombreprodlabios" class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;"></p>
                                    <p id="precioprodlabios" class="normal-text mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$</p>
                                </div>
                                    <div id="colorhexlabios" class="position-absolute colores-info col-3 m-2"  style="top: 5%; left: 5% ; background-color: #;">
                                    <ul id="lista-colores"></ul>
                                    </div>
                                </div>

                    </div>
                    <div class="position-relative col">
                    
                        <div class="position-absolute text-start" style="bottom: 5px;">
                            
                            <p class="px-5" style="font-size: 14px; display:contents"> 
                                <span id="stocklabios"class="subtotal" style="font-weight:bold;font-size:13px">Algo</span>
                            </p>
                            <button id="cambiarojos" class="btn btn-warning px-5 eliminar-producto" style="font-size: 14px; height: 25px; border-radius: 0px;">Cambiar</button>
                        </div>
                    </div>
                </div>

                <h1>SkinCare</h1>
                    <div class="row p-5">
                    <div class="col">
                        <div class="border border-1 box-shadow1 position-relative" style="width:9em; height:9em;">
                            {% set imgModal = 'src/img' + '1' + '_' + '1' + '.jpg' %}
                            <img id="imagenskincare" src="{{ url_for('static', filename= imgModal) }}" style="width:7em; height:7em;">
                            <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
                                <p id="nombreprodskincare" class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;"></p>
                                <p id="precioprodskincare" class="normal-text mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$</p>
                            </div>
                            <div id="colorhexskincare" class="position-absolute colores-info col-3 m-2"  style="top: 5%; left: 5% ; background-color: #;"></div>
                        </div>
                    </div>
                    <div class="position-relative col">
                    
                        <div class="position-absolute text-start" style="bottom: 5px;">
                            
                            <p class="px-5" style="font-size: 14px; display:contents"> 
                                <span id="stockskincare"class="subtotal" style="font-weight:bold;font-size:13px">Algo</span>
                            </p>
                            <button id="cambiarojos" class="btn btn-warning px-5 eliminar-producto" style="font-size: 14px; height: 25px; border-radius: 0px;">Cambiar</button>
                        </div>
                    </div>
                </div>

                <h1>Accesorios</h1>
                    <div class="row p-5">
                    <div class="col">
                        <div class="border border-1 box-shadow1 position-relative" style="width:9em; height:9em;">
                            {% set imgModal = 'src/img' + '1' + '_' + '1' + '.jpg' %}
                            <img id="imagenaccesorios" src="{{ url_for('static', filename= imgModal) }}" style="width:7em; height:7em;">
                            <div class="position-absolute border border-danger bg-white py-1 px-2" style="bottom: 5%; left: 5%; overflow:hidden; max-width:90%">
                                <p id="nombreprodaccesorios" class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px;"></p>
                                <p id="precioprodaccesorios" class="normal-text mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$</p>
                            </div>
                            <div id="colorhexaccesorios" class="position-absolute colores-info col-3 m-2"  style="top: 5%; left: 5% ; background-color: #;"></div>
                        </div>
                    </div>
                    <div class="position-relative col">
                    
                        <div class="position-absolute text-start" style="bottom: 5px;">
                            
                            <p class="px-5" style="font-size: 14px; display:contents"> 
                                <span id="stockaccesorios"class="subtotal" style="font-weight:bold;font-size:13px">Algo</span>
                            </p>
                            <button id="cambiarojos" class="btn btn-warning px-5 eliminar-producto" style="font-size: 14px; height: 25px; border-radius: 0px;">Cambiar</button>
                        </div>
                    </div>
                </div>

                
                <button type="button" class="close position-absolute" style="border: none; top: 2%; right: 3%; background-color:transparent" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 40px;">&times;</span>
                </button>
            </div>
            
            
            <div class="d-flex px-4 pb-4">
                <button type="button" class="btn btn-danger me-auto px-4 py-2 d-flex align-items-center" data-bs-dismiss="modal" style="border-radius: 0px; font-size:15px">Probar</button>

                <button id="btn-kit" type="button" class="btn btn-danger ms-auto px-4 py-2 d-flex align-items-center" style="border-radius: 0px; font-size:15px" >Comprar   
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus ms-3" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                        <path d="M15 6h6m-3 -3v6" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menuItems = document.querySelectorAll('#itemOjos');
    const nombreProducto = document.getElementById('nombreprodojos');
    const precioProducto = document.getElementById('precioprodojos');
    
    menuItems.forEach(function(item) {
      item.addEventListener('click', function() {
        const nombre = this.dataset.nombre;
        const producto = JSON.parse(this.dataset.producto);
        
        nombreProducto.textContent = nombre;
        precioProducto.textContent = '$' + producto.Precio;
      });
    });
  });
</script>


