<div class="modal fade" tabindex="-1" role="dialog" id="infoProducto">
    <div class="modal-dialog mx-5" style="margin-top: 40%;" role="document">
        <div class="modal-content">
            <div class="bg-white p-3 border-bottom border-dark position-relative" style="border-radius: 5px;">
                <lord-icon
                    src="https://cdn.lordicon.com/zmkotitn.json"
                    trigger="click"
                    style="width:35px;height:35px;transform:rotate(180deg); left:10px; top:calc(50% - 20px); z-index:1"
                    class="position-absolute"
                    onclick="snapContainerTranslateLeft(4)">
                </lord-icon>

                <lord-icon
                    src="https://cdn.lordicon.com/zmkotitn.json"
                    trigger="click"
                    style="width:35px;height:35px;margin-bottom:10px; right:10px; top:calc(50% - 20px); z-index:1"
                    class="position-absolute"
                    onclick="snapContainerTranslateRight(4)">
                </lord-icon>

                <div class="snap-container h-50" id="snapInfoProductos"> {# snap-container fue otorgado por https://www.silocreativo.com/controla-desplazamiento-web-css-scroll-snap/ #}
                    <div class="snap-section">
                        {# <img class="imgInfo" src="/static/src/img1.jpg"> #}
                    </div>
                    <div class="snap-section">
                        {# <img class="imgInfo" src="/static/src/img1.jpg"> #}
                    </div>
                    <div class="snap-section">
                        {# <img class="imgInfo" src="/static/src/img1.jpg"> #}
                    </div>
                    <div class="snap-section">
                        {# <img class="imgInfo" src="/static/src/img1.jpg"> #}
                    </div>
                    <div class="snap-section">
                        {# <img class="imgInfo" src="/static/src/img1.jpg"> #}
                    </div>
                </div>
                <button type="button" class="close bg-white position-absolute" style="border: none; top: 2%; right: 3%;" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 40px;">&times;</span>
                </button>
            </div>
            <div class="p-4">
                <p class="product-text" style="letter-spacing: 2px; font-size: 29px; text-align:left;">Mascara pino <span style="font-size: 23px; letter-spacing:1px;color: rgb(93, 93, 93);">#00001</span></p>
                <p class="normal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus sagittis nunc, eu pharetra odio lacinia eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="row">
                    <div class="col-6 bg-red">
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center mb-3">Piel que afecta: Seca, Mixta, Acné</button>
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center mb-3">Marca: Amorus</button>
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center">Tipo: Pestaña</button>
                    </div>
                    <div class="col-6 bg-red ps-3">
                        <div class="row">
                            <div class="colores-info col-3 m-2" style="background-color: #c22424;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #eb8c8c;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #ffb06f;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #e4e158;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #9cff3f;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #2affc6;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #5ea0eb;"></div>
                            <div class="colores-info col-3 m-2" style="background-color: #c748e4;"></div>
                        </div>
                        <div class=" d-flex align-items-center mt-5">
                            <label for="cantidad" class="col-form-label">Cantidad:</label>
                            <input type="number" class="form-control ms-4 border border-dark" value="1" name="cantidad" id="cantidad">
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="d-flex px-4 pb-4">
                <button type="button" class="btn btn-outline-danger me-auto px-5 d-flex align-items-center">Probar</button>
                <button type="button" class="btn btn-outline-danger ms-auto px-5 d-flex align-items-center" data-bs-dismiss="modal">Comprar</button>
            </div>
        </div>
    </div>
</div>