<div class="modal fade" tabindex="-1" role="dialog" id="infoProducto">
    <div class="modal-dialog mx-5" style="margin-top: 10%;" role="document">
        <div class="modal-content">
            <div class="bg-white p-3 border-bottom border-dark position-relative" style="border-radius: 5px;">
                <lord-icon
                    src="https://cdn.lordicon.com/zmkotitn.json"
                    trigger="click"
                    style="width:35px;height:35px;transform:rotate(180deg); left:10px; top:calc(50% - 20px); z-index:1"
                    class="position-absolute"
                    onclick="snapContainerTranslateLeft(4)">
                </lord-icon>

                <lord-icon
                    src="https://cdn.lordicon.com/zmkotitn.json"
                    trigger="click"
                    style="width:35px;height:35px;margin-bottom:10px; right:10px; top:calc(50% - 20px); z-index:1"
                    class="position-absolute"
                    onclick="snapContainerTranslateRight(4)">
                </lord-icon>

                <div class="snap-container h-50" id="snapInfoProductos"> {# snap-container fue otorgado por https://www.silocreativo.com/controla-desplazamiento-web-css-scroll-snap/ #}
                    {% for imgCount in range(0, producto['Imagenes']) %}
                        {% set imgModal = 'src/img' + producto['Id']|string + '_' + loop.index|string + '.jpg' %}
                        <div class="snap-section">
                            <img class="imgInfo" src="{{ url_for('static', filename= imgModal) }}">
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="close position-absolute" style="border: none; top: 2%; right: 3%; background-color:transparent" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 40px;">&times;</span>
                </button>
            </div>
            <div class="p-4">
                <p class="product-text" id="nombreInfoProductos" style="letter-spacing: 2px; font-size: 29px; text-align:left;"><p style="font-size: 20px; letter-spacing:1px;color: rgb(93, 93, 93); text-align:left" id="idInfoProductos">#00001</p></p>
                <p class="normal-text" id="descInfoProductos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus sagittis nunc, eu pharetra odio lacinia eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="row">
                    <div class="col-6 p-3">
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center mb-3" id="tipoPielInfoProductos">Piel que afecta: Seca, Mixta, Acné</button>
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center mb-3" id="marcaInfoProductos">Marca: Amorus</button>
                        <button class="btn btn-outline-danger text-recom p-4 d-flex align-items-center" id="tipoInfoProductos">Tipo: Pestaña</button>
                        <p class="text-start mt-4 ms-3 mb-0" style="font-weight: bold; font-size: 19px" id="precioInfoProductos">$510.00</p>
                    </div>
                    <div class="col-6 ">
                        <label for="cantidad" class="col-form-label" id="nombreColorInfoProductos" style="font-size: 15px;">{{ idUsuario }}</label>
                        <div class="row justify-content-center" id="hexColorInfoProductos">
                            <div class="colores-info col-3 m-2" data-color="Tinto mate1" style="background-color: #c22424;"></div>
                            <div class="colores-info col-3 m-2" data-color="Tinto mate2" style="background-color: #eb8c8c;"></div>
                        </div>
                        <label for="cantidad" class="col-form-label mt-2" style="font-size: 15px;">Cantidad</label>
                        <div class="d-flex align-items-center justify-content-center">
                            <lord-icon
                                src="https://cdn.lordicon.com/rivoakkk.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#810CA8"
                                style="width:35px;height:35px"
                                id="btn-minus">
                            </lord-icon>
                            <input type="number" class="form-control text-center mx-3 w-25" style="box-shadow: none; border:none; font-size:15px" readonly value="1" name="cantidad" id="cantidad">
                            <lord-icon
                                src="https://cdn.lordicon.com/mecwbjnp.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#810ca8"
                                style="width:35px;height:35px"
                                id="btn-plus">
                            </lord-icon>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="d-flex px-4 pb-4">
                <button type="button" class="btn btn-danger me-auto px-4 py-2 d-flex align-items-center" data-bs-dismiss="modal" style="border-radius: 0px; font-size:15px">Cancelar</button>
                <button type="button" class="btn btn-danger ms-auto px-4 py-2 d-flex align-items-center" style="border-radius: 0px; font-size:15px" onclick="agregarProducto()">Comprar   
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus ms-3" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
                        <path d="M15 6h6m-3 -3v6" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>