{% extends "usuarios/usuariosMaster.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% set producto = productos[0] %}
{% block content %}
    {% include "usuarios/nav.jinja" %}
    <div class="horizontal-menu position-relative" style="animation-delay:0.3s;" role="tablist" id="tabsMenu">
        <a class="horizontal-menu-hover horizontal-menu-unset active" aria-selected="true" data-bs-target="#inicioDiv" aria-controls="inicioDiv" data-bs-toggle="tab" onclick="horizontalMenuChange(1)" id="inicioMenu" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;">Inicio</a>
        <a class="horizontal-menu-unset" aria-selected="false" data-bs-target="#pielDiv" aria-controls="pielDiv" data-bs-toggle="tab" onclick="horizontalMenuChange(2)" id="ojosMenu">Ojos</a>
        <a class="horizontal-menu-unset" aria-selected="false" data-bs-target="#labiosDiv" aria-controls="labiosDiv" data-bs-toggle="tab" onclick="horizontalMenuChange(3)" id="labiosMenu">Labios</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(4)" id="pielMenu">Piel</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(5)" id="skincareMenu">Skincare</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(6)" id="accesoriosMenu">Accesorios</a>
    </div>
    {% include "usuarios/infoProducto.jinja" %}
    <div class="container-div-index h-100 tab-content" id="container-div-index">
        {% include "usuarios/inicioDiv.jinja" %}
        {% include "usuarios/pielDiv.jinja" %}
        {% include "usuarios/labiosDiv.jinja" %}
    </div>

    <div class="position-absolute d-flex align-items-center p-2 m-5" id="carrito" style="border: 2px solid rgba(140, 140, 140, 0.586); background-color:rgba(251, 229, 255, 0.789); border-radius:50%; bottom:0; right:0; z-index:2">
        <lord-icon
            src="https://cdn.lordicon.com/ggihhudh.json"
            trigger="click"
            colors="primary:#121331,secondary:#646e78,tertiary:#E5B8F4"
            style="width:50px;height:50px; z-index:2">
        </lord-icon>

        <div class="position-absolute bg-white" style="top: -2px; right: -2px; width: 25px; height:25px; z-index:3; border: 2px solid rgba(140, 140, 140, 0.807);border-radius:50%; ">
            <p class="mb-0 ms-1" id="cantidadCarrito" style="font-size: 14px; text-align:center;font-weight:500; letter-spacing:1px">{{ carrito|length }}</p>
        </div>
    </div>
{% endblock %}
