<div class="bg-menu dropdown-menu position-fixed animate__animated animate__fadeInDown w-100" aria-labelledby="menu" 
      style=" color: #000; bottom:0; top:45px; left:0; right:0; height:fit-content" id="menuResult">
  <ul class="menu p-5" style="font-size: 16px;">
    <a href="/usuarios" class="my-5" style="color: #000; text-decoration:none">Inicio</a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a class="dropdown-submenu my-4" style="color: #000;text-decoration:none">
      <a class="my-4 dropdown-toggle" style="color: #000;text-decoration:none"  href="#">Productos</a>
      <ul >
        <li ><a class="my-4" style="color: #000;text-decoration:none" href="#">Ojos</a></li>
        <li><a class="my-4" style="color: #000;text-decoration:none" href="#">Labios</a></li>
        <li><a class="my-4" style="color: #000;text-decoration:none"href="#">Rostro</a></li>
        <li><a  class="my-4" style="color: #000;text-decoration:none"href="#">Cuidado de la piel</a></li>
        <li><a  class="my-4" style="color: #000;text-decoration:none"href="#">Accesorios</a></li>
      </ul>
    </a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a href="#" class="my-4" style="color: #000;text-decoration:none">Kits</a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a href="#" class="my-4" style="color: #000;text-decoration:none">Foro</a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a href="" class="my-4" style="color: #000;text-decoration:none">
      <i class="bi bi-person-circle"></i>
      {{nombre}}
    </a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a href="#" class="my-4" style="color: #000;text-decoration:none">Formas de Maquillarse</a>
    <hr class="dropdown-divider" style="border-color: black;">
    <a href="" class="my-4" style="color: #000;text-decoration:none">
      <i class="bi bi-arrow-clockwise"></i>
      Salir
    </a>
    <hr class="dropdown-divider" style="border-color: black;">
  </ul>
</div>
