{% block nav %}
    <nav class="navbar navbar-light bg-white p-2 " style="font-size: 25px;">
        <a href="/usuarios" class="navbar-brand mx-3" style="font-size:x-large;">DECÒRE</a>
        <a class="nav-link" id="link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:38px;">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="{{ url_for('static', filename='icons/infoIcon.json') }}"
                trigger="click"
                colors="primary:#848484"
                style="width:30px;height:30px">
            </lord-icon>
        </a>
    </nav>
{% endblock %}