{% block nav %}
    <nav class="navbar to-left navbar-light bg-white p-2" style="font-size: 25px;">
        <a href="/usuarios" class="navbar-brand mx-3" style="font-size:x-large;">DECÒRE</a>
        <a class="nav-link" id="link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:38px;">
            <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="{{ url_for('static', filename='icons/infoIcon.json') }}"
                trigger="click"
                colors="primary:#848484"
                style="width:30px;height:30px">
            </lord-icon>
        </a>
    </nav>

    <div class="horizontal-menu to-left position-relative" style="animation-delay:0.3s;">
        <a class="horizontal-menu-hover horizontal-menu-unset" onclick="horizontalMenuChange(1)" id="inicioMenu" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;">Inicio</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(2)" id="ojosMenu">Ojos</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(3)" id="labiosMenu">Labios</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(4)" id="pielMenu">Piel</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(5)" id="skincareMenu">Skincare</a>
        <a class="horizontal-menu-unset" onclick="horizontalMenuChange(6)" id="accesoriosMenu" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">Accesorios</a>
    </div>
{% endblock %}