<div class="border border-1 border-danger position-relative">
    <img src="/static/src/img1.jpg" style="width:6em; height:6em;">
    <div class="position-absolute border border-dark bg-white py-2 px-4" style="bottom: 10%; left: 5%;">
        <p style="font-size: 13px;letter-spacing:1px">Pestaña 3D 40</p>
        <p style="font-size: 13px;letter-spacing:1px">$39.99</p>
    </div>
</div>