<div class="border border-1 border-danger position-relative" style="width:9em; height:9em;">
    <img src="/static/src/img1.jpg" style="width:8.5em; height:8.5em;">
    <div class="position-absolute border border-dark bg-white py-1 px-2" style="bottom: 5%; left: 5%;">
        <p class="mb-0 text-start" style="font-size: 12px;letter-spacing:1px">Pestaña 3D 40</p>
        <p class="mb-0 text-start" style="font-size: 11px;letter-spacing:1px;font-weight: bold;">$39.99</p>
    </div>
</div>