<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decòre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/head.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/stylesUsuarios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/usuarios.js') }}"></script>
    {% endblock %}
</head>
<body class="h-100 w-100 bg-white animate__animated animate__fadeIn" id="body">

<div class="modal fade" tabindex="-1" role="dialog" id="alertaRed" data-bs-backdrop="static">
    <div class="modal-dialog mx-5" style="margin-top: 10%;" role="document">
        <div class="modal-content p-5">
        <lord-icon
            src="https://cdn.lordicon.com/oqhlhtfq.json"
            trigger="loop"
            delay="1000"
            colors="primary:#c69cf4,secondary:#ebe6ef"
            style="width:20vh;height:20vh;"
            class="mx-auto">
        </lord-icon>
        <h1>Se perdió la conexion a internet</h1>
        </div>
    </div>
</div>

{% block nav %}{% endblock %}
{% block content %}{% endblock %}

</body>
</html>