{% extends "index/indexMaster.jinja" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <p class="display-1 to-right">Ingresa la nueva contraseña</p>
    <h1>{{ correorecover }}</h1>
    <div class="vanish1">
        <svg class="path mb-5" width="50%" viewBox="0 0 1280 1280">
            <g transform="translate(0,1280) scale(0.1,-0.1)" fill="#000000" stroke="none">
                <path />
            </g>
        </svg>
    </div>

    <form action="/cambiarcontra" id="formcambiarcontra" method="post" class="input-group input-group-lg d-flex justify-content-between flex-column">
        <input type="hidden" name="correo" id="correo" value="{{ correo }}">
        <div class="form-group mt-4 position-relative">
            <input type="password" id="contraseña" class="form-control" placeholder="Contraseña" name="contraseña" required>
            <div class="h-100 pt-2 position-absolute icon" style="right: 0; bottom: 0">
                <i class="bi bi-eye-slash mx-3" id="show-password-btn"></i>
            </div>
            <p size="4" id="errorcontra1"></p>
        </div>
        <div class="form-group mt-4 position-relative">
            <input type="password" id="contraseñaC" class="form-control" placeholder="Confirmar Contraseña" name="contraseñaC" required>
            <div class="h-100 pt-2 position-absolute icon" style="right: 0; bottom: 0">
                <i class="bi bi-eye-slash mx-3" id="show-confirm-password-btn"></i>
            </div>
            <p id="errorcontra2"></p>
        </div>
        <button type="submit" name="Cambiarcontra" class="btn btn-success vanish1 mt-5" style="font-size: 18px; border-radius: 10px; height: 36px; animation-duration: 4s;" >Cambiar contraseña</button>
    </form> 

    <script>
        const form = document.getElementById('formcambiarcontra');
  
        const showPasswordBtn = document.getElementById("show-password-btn");
        const showConfirmPasswordBtn = document.getElementById("show-confirm-password-btn");
        const passwordInput = document.querySelector("input[name='contraseña']");
        const confirmPasswordInput = document.querySelector("input[name='contraseñaC']");

        showPasswordBtn.addEventListener("click", togglePasswordVisibility);
        showConfirmPasswordBtn.addEventListener("click", togglePasswordVisibility2);

        function togglePasswordVisibility() {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                showPasswordBtn.classList.replace("bi-eye-slash", "bi-eye");
            } else {
                passwordInput.type = "password";
                showPasswordBtn.classList.replace("bi-eye", "bi-eye-slash");
            }
        }
        function togglePasswordVisibility2() {

            if (confirmPasswordInput.type === "password") {
                confirmPasswordInput.type = "text";
                showConfirmPasswordBtn.classList.replace("bi-eye-slash", "bi-eye");
            } else {
                confirmPasswordInput.type = "password";
                showConfirmPasswordBtn.classList.replace("bi-eye", "bi-eye-slash");
            }
        }

        
        form.addEventListener('submit', function(event) {
            if (passwordInput.value !== confirmPasswordInput.value) {
            event.preventDefault();
            alert('Las contraseñas no coinciden');
            }
        });
    </script>
{% endblock %}
