<html>
<head>
    <style>
        /* Estilos CSS para el mensaje de correo electrónico */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
        }
        h1 {
            color: #333333;
        }
        p {
            color: #666666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Estimado Cliente,</h1>
        <p>Se ha realizado su pedido correctamente. Su número de orden es:</p>
        <p>{{ numero_orden }}</p>
        <p>Saludos,</p>
        <p>Equipo de Decore</p>
    </div>
</body>
</html>