body{
    font-size: 15px;
    letter-spacing: 1px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background-color: #00000000;
}

:root{
    --bs-primary: #F3F1F5;
    --bs-secondary: #F0D9FF;
    --bs-success: #BFA2DB;
    --bs-info: #E5B8F4;
    --bs-warning: #2D033B;
    --bs-danger: #810CA8;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 23px;
    white-space: nowrap;
    overflow-y: hidden;
}

.container-forms{
    margin-top: 5%;
    height: 100%;
    font-size: 35px;
    padding: 2rem;
}

#nombre::placeholder{
    text-align: left;
}

.colores-ojos{
    width: 5.5rem;
    height: 5.5rem;
    border: 3px solid rgb(43, 43, 43);
    border-radius: 50%;
}

.colores-piel{
    width: 95%;
    height: 4rem;
    border: none;
}

.navbar{
    border-bottom: 2px #bebebeb1 solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.horizontal-menu{
    text-align: left;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: var(--bs-secondary);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px -5px; */
}

.horizontal-menu::after{
    background-color: var(--bs-secondary);
    padding-left: 10px;
    padding-right: 10px;
}

.horizontal-menu-unset{
    background-color: var(--bs-secondary);
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    text-decoration: none;
    color: #000;
}

.horizontal-menu-hover{
    color: #000;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 10px;
    background-color: var(--bs-success);
    margin-left: 1em;
    margin-right: 1.6em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;    
}

a:hover{
    color: #000;
}

.horizontal-menu > a{
    transition: ease all 0.3s;
}

.snap-container{
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.snap-container::-webkit-scrollbar{
    height: 5px;
}

.snap-container::-webkit-scrollbars-track{
    background-color: transparent;
}

.snap-container::-webkit-scrollbar-thumb{
    background-color:#BFA2DB;
    border-radius: 10px;
    padding-left: 10%;
}

.snap-section{
    min-width: 100%;
    scroll-snap-align: center;
    position: relative;
}

.btn-product{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    box-shadow: none;
    border-radius: 0px;
    padding: 20px;
    align-items: center;
    display: flex;
    font-size: 15px;
}

.normal-text{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}

.text-recom{ 
    font-size: 12px; 
    letter-spacing: 0px;
    box-shadow: none;
}

p{
    font-size: 23px;
    letter-spacing: 3px;
}

img{
    height: 10em;
    width: 10em;
    object-fit: cover;
}

.img-principal{
    height: 50%;
    width: 100%;
}

.imgInfo{
    height: 16em;
    width: 16em;
}

.product-text{
    margin-bottom: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #000;
}

.colores-info{
    width: 3.3rem;
    height: 3.3rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    transition: ease-in all 0.2s;
}

.colores-info-selected{
    width: 4rem;
    height: 4rem;
    border: 3px solid #260035;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-div-index{
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: hidden;
}

.container-div-slider{
    min-width: 100%;
    scroll-snap-align: center;
    position: relative;
}