body{
    background-color: #34D711;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%233757FF' stroke-width='62.1' stroke-opacity='0.06' %3E%3Ccircle fill='%2334D711' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2338da2c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%233ddd3d' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2342df4c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2347e259' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%234ce565' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2352e770' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2359ea7b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%235fec85' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2366ef8f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236df199' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2375f3a3' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%237cf5ac' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2384f8b4' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%238dfabd' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2395fbc5' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%239efdcd' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23A7FFD4' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.container{
    margin-top: 15%;
    height: 100%;
    width: 83%;
    font-size: 25px;
    background-color: white;
    padding: 4rem;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 17px 39px 0px;
}

@media (min-width: 765px) {
    .container svg{
        width: 15%;
    }
}

@media (min-width: 1150px){
    .container{
        margin-top: 8%;
    }
}

