html {
    font-size: 53%;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: greenyellow;
}

.container{
    text-align: center;
}

.container h1{
    font-size: 3.8rem;
    color: darkslategray;
}

.container img{
    width: 80rem;
    height: 60rem;
}

