body{
    background-color: #ffffff;
    font-size: 15px;
}

.container{
    margin-top: 5%;
    height: 100%;
    width: 95%;
    font-size: 35px;
    padding: 2rem;
}

#nombre::placeholder{
    text-align: left;
}

.colores-ojos{
    width: 5.5rem;
    height: 5.5rem;
    border: 3px solid rgb(43, 43, 43);
    border-radius: 50%;
}

.colores-piel{
    width: 95%;
    height: 4rem;
    border: none;
}