{% extends "indexMaster.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form class="input-group input-group-lg align-items-center flex-column" action="/guardarDato" method="post">
        <div class="input-group mb-5">
            <input type="text" class="form-control" placeholder="Cualquier texto" name="valor">
        </div>

        <button type="submit" class="btn btn-outline-success w-25" style="font-size: 15px;">submit</button>
    </form>
{% endblock %}